        {% extends 'layout/base.twig' %}

        {% block content %}
        
            <h1>{{title}}</h1>
            <h2>Voici le TP, bonne journée à toi !</h2>
            
        {% endblock %}  